body{
    font-family: Ruberoid;
    font-weight: 500;
    color: white;
    background-color: #0A0909;
    font-size: calc(var(--index)) !important;
}
h1, h2, h3, h4, h5, p, a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
