body{
    font-family: Ruberoid;
    font-weight: 500;
    color: white;
    background-color: #0A0909;
    font-size: calc(var(--index)) !important;
    user-select: none;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}